:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 214, 219, 220;

	--font-size-200: 0.75rem; /* 12px */
	--font-size-300: 0.875rem; /* 14px */
	--font-size-400: 1rem; /* 16px, base */
	--font-size-500: 1.25rem; /* 20px */
	--font-size-600: 1.5rem; /* 24px */
	--font-size-700: 1.75rem; /* 28px */
	--font-size-800: 2rem; /* 32px */
	--font-size-900: 2.25rem; /* 36px */
}

@font-face {
	font-family: "IBMPlexSans";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/IBMPlexSansKR-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "IBMPlexSans";
	font-weight: 700;
	font-style: bold;
	src: url("/fonts/IBMPlexSansKR-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "NanumMyeongjo";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/NanumMyeongjo-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "NanumMyeongjo";
	font-weight: 700;
	font-style: bold;
	src: url("/fonts/NanumMyeongjo-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "NotoSans";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "NotoSans";
	font-weight: 700;
	font-style: bold;
	src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
}

body {
	font-family: "NotoSans", sans-serif;
	color: rgb(var(--foreground-rgb));
	background: var(--background-rgb);
	font-size: 16px;
	margin: 0;
}
